@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


:root {
    --prim-clr: hsl(224, 63%, 33%);
    --sec-clr: hsl(282, 96%, 27%);

    --prim-bg: hsl(0, 0%, 100%);
    --sec-bg: hsl(0, 0%, 78%);
    --other-bg: hsl(240, 11%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: var(--prim-bg);
    width: 100%;
    font-family: "Roboto Slab", serif;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-thumb {
    --_thumb-clr: var(--thumb-clr, var(--other-bg));
    background-color: var(--_thumb-clr);
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

button {
    --_button-clr: var(--button-clr, var(--other-bg));
    --_button-bg: var(--button-bg, transparent);
    /*  */
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.7rem;
    border: 2px solid var(--_button-clr);
    border-radius: 12px;
    color: var(--_button-clr);
    background-color: var(--_button-bg);
    cursor: pointer;
}


svg {
    --_icon-clr: var(--icon-clr, var(--other-bg));
    /*  */
    width: 24px;
    height: 24px;
    fill: var(--_icon-clr)
}

#header {
    background-color: var(--prim-clr);
    display: grid;
    grid-template-columns: 1fr 8fr;
    place-items: center;
    width: 100%;
    height: 15dvh;
    color: var(--prim-bg);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

#hamburger-btn {
    border: none;
    --button-bg: transparent;
}

#hamburger-btn svg {
    --icon-clr: var(--prim-bg);
    /*  */
    width: 42px;
    height: inherit;
    transition: scale 0.2s ease;
}

#hamburger-btn svg:active {
    scale: 0.94;
}

#header h1 {
    font-size: 3rem;
}

#header div {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 0.6rem;
}

#header div svg {
    --icon-clr: var(--prim-bg);
    width: 62px;
    height: inherit;
}

#main-section {
    --side-bar-width: 20vw;
    /*  */
    background-color: var(--prim-bg);
    width: 100%;
    margin-top: 15dvh;
}

#main-section>* {
    height: 85dvh;
}

#sidebar {
    position: fixed;
    width: var(--side-bar-width);
    background-color: var(--sec-bg);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 1rem 1%;
    color: var(--other-bg);
    display: flex;
    flex-direction: column;
}

#sidebar.show {
    transform: translateX(0);
}


#content-body {
    position: fixed;
    width: 100vw;
    background-color: var(--prim-bg);
    padding: 1rem 4%;
    overflow: auto;

    transition: margin-left 0.3s ease, width 0.3s ease;
}

#sidebar.show+#content-body {
    width: calc(100vw - var(--side-bar-width));
    margin-left: var(--side-bar-width);
}

/* #content::-webkit-scrollbar-thumb{
    --thumb-clr:var(--sec-bg);
} */

.nav-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4% 0;
}

#theme-group {
    flex-direction: row;
    justify-content: space-between;
}

#projects-group {
    flex-grow: 1;
    overflow: auto;
}

#projects-group::-webkit-scrollbar {
    width: 0.4rem;
}

.nav-group:not(:last-child) {
    border-bottom: 1px solid var(--other-bg);
}

#theme-group {
    margin-top: auto;
}

.nav-group ul {
    padding: 0 4%;
}

.nav-group ul li {
    padding: 4px 0;
}

.nav-link {
    cursor: pointer;
    transition: translate 0.3s ease;
}

.nav-link:hover {
    translate: 6% 0;
    text-decoration: underline;
}

.selected-link {
    translate: 6% 0;
    text-decoration: underline;
}

#project-add-sort-div {
    display: flex;
    justify-content: space-between;
    padding: 1vh 0;
}

#add-project-btn {
    --button-clr: var(--other-bg);
    --button-bg: transparent;
    /*  */
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
}

#sorting-arrows>* {
    --icon-clr:var(--other-bg);
    border: 0;
    padding: 0;
}

#sorting-arrows>*:hover{
    --icon-clr:red;
}