@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('./components/contentBody.css');

:root {
    --prim-clr: hsl(224, 63%, 33%);
    --prim-clr-hover: hsl(224, 63%, 25%);
    --sec-clr: hsl(282, 96%, 27%);

    --prim-bg: hsl(0, 0%, 100%);
    --sec-bg: hsl(0, 0%, 78%);
    --sec-bg-hover: hsl(0, 0%, 68%);
    --other-bg: hsl(240, 11%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    height: fit-content;
}

body {
    background-color: var(--prim-bg);
    width: 100%;
    font-family: "Roboto Slab", serif;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-thumb {
    --_thumb-clr: var(--thumb-clr, var(--other-bg));
    background-color: var(--_thumb-clr);
    border-radius: 16px;
}

/* ::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
} */

::-webkit-scrollbar-track {
    background-color: inherit;
}

button {
    --_button-bg: var(--button-bg, transparent);
    /*  */
    width: fit-content;
    height: fit-content;
    background-color: var(--_button-bg);
    cursor: pointer;
    border: none;
    transition: scale 0.2s ease;
    transition: background-color 0.2s ease;
    font-weight: bold;
}

button:active {
    scale: 0.96;
}

.text-button {
    --_button-clr: var(--button-clr, var(--other-bg));
    --_border-clr: var(--border-clr, var(--_button-clr));
    /*  */
    padding: 0.3rem 0.7rem;
    border: 2px solid var(--_border-clr);
    border-radius: 12px;
    color: var(--_button-clr);
}

.text-button>svg {
    width: 20px;
    height: 20px;
}


.icon-button {
    --_button-bg: var(--button-bg, transparent);
    /*  */
    border-radius: 12px;
    padding: 0.1vh 0.2vw;
    display: flex;
    align-items: center;
}

.icon-button:hover {
    background-color: var(--_button-bg);
}


svg {
    --_icon-clr: var(--icon-clr, var(--other-bg));
    /*  */
    width: 24px;
    height: 24px;
    fill: var(--_icon-clr)
}

#header {
    background-color: var(--prim-clr);
    display: grid;
    grid-template-columns: 1fr 8fr;
    place-items: center;
    width: 100%;
    height: 15dvh;
    color: var(--prim-bg);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
}

#hamburger-btn {
    --button-bg: transparent;
}

#hamburger-btn:hover {
    --button-bg: var(--prim-clr-hover);
}

#hamburger-btn svg {
    --icon-clr: var(--prim-bg);
    /*  */
    width: 42px;
    height: inherit;
}


#header h1 {
    font-size: 3rem;
}

#header div {
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    gap: 0.6rem;
}

#header div svg {
    --icon-clr: var(--prim-bg);
    width: 62px;
    height: inherit;
}

#main-section {
    --side-bar-width: 20vw;
    /*  */
    background-color: var(--prim-bg);
    width: 100%;
    margin-top: 15dvh;
}

#main-section>* {
    height: 85dvh;
}





/* #content::-webkit-scrollbar-thumb{
    --thumb-clr:var(--sec-bg);
} */